@import '../../../style/variables.scss';

.wrapper {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	width: 100%;
	min-height: 4rem;
	padding: 1rem 0;
	border-radius: 1rem 1rem 0 0;
	background-color: $colorWhite;
	font-size: 16px;
	z-index: 5;
}

.message {
	margin: 0 1rem;
	font-family: $fontMedium;
	font-size: 14px;
	color: $colorBlack;
	text-align: center;
}

.buttons {
	display: flex;
	gap: 1rem;

	&__button {
		&--cancel {
			border-color: $colorBlack;
			background-color: $colorWhite;
			color: $colorBlack;
		}

		&--confirm {
			background-color: $colorGrey1;
			border-color: $colorGrey1;
			color: $colorWhite;
		}
	}
}

@media screen and (min-width: 500px) {
	.wrapper {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		justify-content: center;
		max-width: 25rem;
		height: 8rem;
		border-radius: 1rem;
	}
}
