@import '../../../style/variables.scss';

.edit-button {
	display: flex;
	gap: 0.5rem;
	background: transparent;
	color: $colorMouse1;
	font-family: $fontMedium;
	font-size: 16px;
	cursor: pointer;

	&:active {
		color: $colorWhite;

		& > .edit-button__img {
			opacity: 1;
		}
	}

	.edit-button__img {
		opacity: 0.5;
	}
}
