@import '../../../style/variables.scss';

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	width: 100%;
	margin: $marginTopMobile $marginSidesMobile;
}

.title {
	font-family: $fontBold;
	font-size: 24px;
	color: $colorLavender;
	text-align: center;
}

.question-wrapper {
}

.question {
	font-family: $fontBold;
	font-size: 16px;
	color: $colorLavender;

	&--contact {
		margin-top: 4rem;
		text-align: center;
		font-size: 20px;
		color: $colorWhite;
	}
}

.answer {
	&--text {
		font-family: $fontRegular;
		font-size: 12px;
		color: $colorWhite;
	}
}

.tasks {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.bubbles {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.contact-button {
	align-self: center;
}

@media screen and (min-width: 700px) {
	.wrapper {
		width: 70%;
	}
}

@media screen and (min-width: 1200px) {
	.wrapper {
		width: 60%;
	}

	.question {
		font-size: 18px;

		&--contact {
			margin-top: 4rem;
		}
	}

	.answer {
		&--text {
			font-size: 16px;
		}
	}

	.tasks {
		display: grid;
		grid-template-columns: 1fr 1fr;
		row-gap: 2rem;
	}

	.bubbles {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 0;
	}
}
