@import '../../../style/variables.scss';

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 1.5rem;
}

.title {
	font-family: $fontBold;
	font-size: 18px;
	color: $colorWhite;
	text-align: center;
}

.text {
	font-family: $fontMediumItalic;
	font-size: 12px;
	color: $colorWhite;
}

.submit-button {
	background-color: $colorLavender;
	color: $colorPurple1;
}

.response {
	font-family: $fontSemiBold;
	font-size: 14px;
	text-align: center;
	color: $colorWhite;
}
