@import '../../style/variables.scss';

.wrapper {
	display: flex;
	flex-direction: column;
	margin: 2rem 2.25rem;
	background-color: $colorPurple1;
}

.user {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	&__name-img {
		display: flex;
		gap: 1rem;
		font-family: $fontBold;
		font-size: 22px;
		color: #9590ff;
		background: none;
		cursor: pointer;

		&__img {
			width: 2rem;
			height: 2rem;
		}

		&__name {
			display: none;
			font-family: $fontBold;
			color: $colorWhite;
			font-size: 22px;
		}
	}

	&__refresh-spinner {
		background: transparent;
		width: 1.5rem;
		height: 1.5rem;
		padding: 0;
		cursor: pointer;

		&__img {
			&--active {
				fill: grey;
			}

			&--done {
				fill: green;
			}
		}
		&--active {
			transition: all 1s ease-in-out;
			transform: rotate(720deg);
			cursor: default;
		}
	}
}

.links {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	margin-top: 8rem;

	&__link {
		color: $colorWhite;
		cursor: pointer;
		text-decoration: none;

		&--active {
			color: $colorLavender;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 4.35rem;
	height: 17rem;
	padding: 2.25rem;
	background-color: $colorPurple2;

	&__help-contact {
		display: flex;
		flex-direction: column;
		gap: 2.26em;
		font-family: $fontBold;
		font-size: 16px;
		color: $colorWhite;
	}

	&__legal-notice {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&__text {
			font-family: $fontMedium;
			font-size: 12px;
			color: $colorWhite;
		}
	}
}

@media screen and (min-width: 1200px) {
	.wrapper {
		margin: 5rem 7rem;
	}

	.user__name-img__name {
		display: block;
	}

	.footer {
		padding: 5rem 7rem;
	}
}
