@import '../../../../style/variables.scss';

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-self: flex-start;
	gap: 0.4rem;
}

.label {
	margin: 0;
	font-family: $fontRegular;
	font-size: 16px;
	color: $colorMouse1;
}

.email {
	font-family: $fontSemiBold;
	font-size: 16px;
	color: $colorWhite;
}

.instructions {
	font-family: $fontRegular;
	font-size: 14px;
	color: $colorWhite;
}

.spinner {
	display: flex;
	align-self: center;
}

.response-img {
	width: 1.5rem;
	height: 1.5rem;
}
