@import '../../style/variables.scss';

.wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	width: 100%;
	min-height: 4rem;
	padding: 1rem 0;
	border-radius: 1rem 1rem 0 0;
	background-color: $colorWhite;
	font-size: 16px;
	z-index: 5;
}

.warning-img {
	position: absolute;
	top: 1.3rem;
	left: 2rem;
	width: 1.85rem;
	height: 1.85rem;
}

.close-button {
	position: absolute;
	top: 1.5rem;
	right: 2rem;
	width: 1.15rem;
	height: 1.15rem;
	background-color: transparent;
	cursor: pointer;
}

.title {
	margin-top: 0.125rem;
	font-family: $fontSemiBold;
	color: $colorLavender;
	font-size: 22px;
}

.message {
	font-family: $fontRegular;
	font-size: 14px;
	color: #000000;
	margin: 0 2rem;
	text-align: center;
}

.button {
	padding: 0.8em 1.4em;
	border-radius: 2.46em;
	background-color: #3b3e59;
	font-family: $fontBold;
	font-size: 15px;
	color: $colorWhite;
	cursor: pointer;
}

@media screen and (min-width: 1200px) {
	.wrapper {
		position: absolute;
		bottom: auto;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 20rem;
		padding: 1rem 0;
		border-radius: 1rem;
	}

	.title {
		margin-top: 0.25rem;
	}

	.message {
		font-size: 14px;
	}
}
