@import '../../../style/variables.scss';

.icons {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0.75rem;

	&__button {
		display: grid;
		place-content: center;
		background-color: transparent;
		border: 0.2rem solid transparent;
		border-radius: 50%;
		cursor: pointer;

		&--active {
			border: 0.2rem solid $colorLavender;
		}

		&--chosen {
			border: 0.2rem solid white;
		}

		& > img {
			margin: 0.3rem;
		}
	}
}

@media screen and (min-width: 1200px) {
	.icons {
		gap: 1.5rem;
	}
}
