@font-face {
	font-family: Poppins-Regular;
	src: url('../assets/fonts/Poppins-Regular.ttf');
}

@font-face {
	font-family: Poppins-Medium;
	src: url('../assets/fonts/Poppins-Medium.ttf');
}

@font-face {
	font-family: Poppins-Medium-Italic;
	src: url('../assets/fonts/Poppins-MediumItalic.ttf');
}

@font-face {
	font-family: Poppins-Semi-Bold;
	src: url('../assets/fonts/Poppins-SemiBold.ttf');
}

@font-face {
	font-family: Poppins-Semi-Bold-Italic;
	src: url('../assets/fonts/Poppins-SemiBoldItalic.ttf');
}

@font-face {
	font-family: Poppins-Bold;
	src: url('../assets/fonts/Poppins-Bold.ttf');
}

@font-face {
	font-family: Poppins-Extra-Bold;
	src: url('../assets/fonts/Poppins-ExtraBold.ttf');
}

$fontRegular: Poppins-Regular;
$fontMedium: Poppins-Medium;
$fontMediumItalic: Poppins-Medium-Italic;
$fontSemiBold: Poppins-Semi-Bold;
$fontSemiBoldItalic: Poppins-Semi-Bold-Italic;
$fontBold: Poppins-Bold;
$fontExtraBold: Poppins-Extra-Bold;

$marginTopMobile: 6rem;
$marginSidesMobile: 2rem;
$marginTopDesktop: 10rem;

$colorWhite: #ffffff;
$colorBlack: #191b34;
$colorBlack1: #0b0e21;
$colorIndigo: #6c63ff;
$colorPurple1: #3e379b;
$colorPurple2: #4740a0;
$colorPurple3: #564bef;
$colorGrey1: #24263e;
$colorGrey2: #33364c;
$colorLavender: #8d88ff;
$colorBlue1: #1cc1e6;
$colorBlue2: #2945eb;
$colorMouse1: #6f7497;
$colorMouse2: #a1a9d3;
