@import '../../style/variables.scss';

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	margin: 6rem 2rem;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.back-button {
	position: absolute;
	top: 2.4rem;
	left: 2rem;
}

.title {
	font-family: $fontBold;
	font-size: 15px;
	color: $colorWhite;
}

.submit-button {
	background-color: $colorPurple1;
	font-size: 16px;
	color: $colorWhite;
}

.response-message {
	color: $colorWhite;
}

@media screen and (min-width: 1200px) {
	.response-message {
		width: 80%;
	}
}
