@import '../../style/variables.scss';

.remember-me {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
	color: $colorLavender;
	font-size: 14px;
	cursor: pointer;

	&__button {
		background: none;
		display: grid;
		place-content: center;
		cursor: pointer;

		&__img {
			width: 1.1rem;
		}
	}
}

.forgot-password-button {
	margin-top: 4rem;
	background: none;
	color: $colorLavender;
	text-decoration: underline;
	font-family: $fontMediumItalic;
	font-size: 14px;
	cursor: pointer;
}
