@import './style/variables.scss';

body {
	background-color: $colorBlack;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

li {
	list-style-type: none;
}

button {
	border: 0;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
}

a {
	color: inherit;
	text-decoration: none;
}

input {
	padding: 0;
}

p {
	margin: 0;
}

#root {
	position: relative;
	display: flex;
	justify-content: center;
	min-height: 100vh;
	width: 100%;
	height: 100%;
	font-family: $fontMedium;
	font-size: 20px;
	background-color: $colorBlack;
	transition: margin-right 0.3s ease-in-out;
}

#mobile-sidebar {
	position: fixed;
	top: 0;
	right: 0;
	width: 0;
	max-width: 30rem;
	height: 100vh;
	font-size: 20px;
	font-family: $fontMedium;
	float: right;
	background-color: $colorPurple1;
	transition: width 0.3s ease-in-out;
	z-index: 4;
	overflow-y: scroll;
}

#desktop-sidebar {
	display: none;
}

@media screen and (min-width: 1200px) {
	#root {
		height: 100vh;
	}

	#desktop-sidebar {
		position: fixed;
		display: block;
		float: right;
		top: 0;
		right: 0;
		z-index: 2;
		flex-direction: column;
		width: 30rem;
		height: 100%;
		font-size: 20px;
		font-family: $fontMedium;
		background-color: $colorPurple1;
	}
}
